.idea
.settings
target
build
gradle
*.iml
*.ipr
*.iws
/.gradle
public
*.log
/.travis.yml
lib
/api/*.iml
/backend-service/*.iml
/backend-service/*.gradle
/backend-service/*.bak
/metadata-etl/*.iml
/metagrid-common/*.iml
/classes
